body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 150vh;
    background-color: #0e0e0e;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.container {
    max-width: 800px;
    padding: 40px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.container h1:first-of-type {
    font-size: 24px;
    margin-bottom: 8px
}

h1 {
    color: #7ec8ff;
    font-size: 32px;
    margin-bottom: 10px;
}

h3 {
    color: #a6e3ff;
    margin-top: 20px;
}

.container p:first-of-type {
    font-size: 16px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.container h3,
.container ul,
.container p {
    margin-top: 18px;
}

ul {
    background-color: #222;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 8px 30px #cccccc31;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}